<section id="home">
<div class="width-full full-bg">
	<div class="center-block">
	  <div class="container padding-top-5p">
	  	<div class="row ">
		    <div class="col-md-4 bg-white padding-0 margin-0">
		      <form class="form-inline">
		        <div class="form-group login-form">
		          <div class="form-heading">
		            Get Started with Onlitute
		          </div>
		          <div class="form-style">
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-user" aria-hidden="true"></i></div>
		              <input type="text" class="form-control" placeholder="Name">
		            </div>
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-envelope" aria-hidden="true"></i></div>
		              <input type="email" class="form-control" placeholder="Email">
		            </div>
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-key" aria-hidden="true"></i></div>
		              <input type="password" class="form-control" placeholder="Password">
		            </div>
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-mobile" aria-hidden="true"></i></div>
		              <input type="text" class="form-control size-input" placeholder="Mobile">
		            </div>
		            <div class="form-padding">
		              <button type="submit" *ngIf="currentUrl !== '/coach/coach-signup1/home'" routerLink="/learn/learn-signup2" class="btn btn-submit-form width-full border-radius-0">Learn</button>
		            </div>
		              <button type="submit" *ngIf="currentUrl !== '/learn/learn-signup1/home'" routerLink="/coach/coach-signup2" class="btn btn-submit-form width-full border-radius-0">Coach </button>
		          </div>
		        </div>
		      </form>
		    </div>
	    	<!-- <div class="col-md-4 col-md-offset-4 font-white table-view">
	    		<div class="center-block padding-top-5p">
	    			<div class="empty-50"></div>
	    			<h3><b>Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit</b></h3>
	    			<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliq</p>
	    		</div>
	    	</div> -->
		</div>
	  </div>
	</div>
</div>
</section>
