<section id="home">
<div class="width-full info-bg">
  <div class="empty-100"></div>
    <div class="empty-100"></div>
  	<div class="container">
  		<div class="row">
		    <div class="col-md-4 ">
		    	<div class="form-heading">
		            Complete your profile
		        </div>
		      <form class="form-inline bg-light-grey margin-0 ">
		        <div class="form-group login-form">
		          <div class="form-style">
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-user" aria-hidden="true"></i></div>
		              <input type="text" class="form-control" placeholder="Name">
		            </div>
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-envelope" aria-hidden="true"></i></div>
		              <input type="text" class="form-control" placeholder="Last Name">
		            </div>
		            <div class="input-group width-full form-padding">
		       
					  <div class="panel-group" id="accordionMenu" role="tablist" aria-multiselectable="false">
					    <div class="panel panel-default">
					      <div class="panel-heading" role="tab" id="headingOne">
					        <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Programming</a>
					        </h4>
					      </div>
					      <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
					        <div class="panel-body">
					          <ul class="nav">
					            <li><a href="">item 1</a></li>
					            <li><a href="">item 2</a></li>
					            <li><a href="">item 3</a></li>
					          </ul>
					        </div>
					      </div>
					    </div>
					    <div class="panel panel-default">
					      <div class="panel-heading" role="tab" id="headingTwo">
					        <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          Interview Prep
					        </a>
					      </h4>
					      </div>
					      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					        <div class="panel-body">
					          <ul class="nav">
					            <li><a href="">item 1</a></li>
					            <li><a href="">item 2</a></li>
					            <li><a href="">item 3</a></li>
					            <li><a href="">item 4</a></li>
					          </ul>
					        </div>
					      </div>
					    </div>
					    <div class="panel panel-default">
					      <div class="panel-heading" role="tab" id="headingThree">
					        <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordionMenu" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          Career Counselling
					        </a>
					      </h4>
					      </div>
					      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					        <div class="panel-body">
					          <ul class="nav">
					            <li><a href="">item 1</a></li>
					            <li><a href="">item 2</a></li>
					            <li><a href="">item 3</a></li>
					            <li><a href="">item 4</a></li>
					          </ul>
					        </div>
					      </div>
					    </div>
					  </div>
							              
		            </div>
		              <button type="submit" class="btn btn-default border-radius-0">Back</button>
		              <button type="submit" class="btn btn-submit-form border-radius-0 float-right" routerLink="/learn/learn-payment">Next</button>
		          </div>
		        </div>
		      </form>
		    </div>
	    	<div class="col-md-offset-2 col-md-6  height-400p learn-slider-style text-grey">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators indicator-position">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner alinement-center">
              <div class="item active">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-building" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Build the right foundation. Any topic, anytime</h3>
              </div>

              <div class="item">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-superpowers" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Counselling from experts who will help you make the right education and career choice</h3>
              </div>
            
              <div class="item">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-hourglass-start" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Interviewing is hard! We get it. Practice your interviews with your peers, colleague and professionals here</h3>
              </div>

              <div class="item">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-line-chart" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Acquire the right skills here. We will cheer you as you advance career</h3>
              </div>
            </div>
          </div>
	    	</div>
	    </div>
	</div>
</div>
</section>

<!--<div class="row clearfix">
	    			<div class="col-xs-1">
	    				<h1><i class="fa fa-building" aria-hidden="true"></i></h1>
	    			</div>
	    			<div class="col-xs-offset-2 col-xs-9 info-learn-text">
	    				<span>Build the right foundation. Any topic, anytime</span>
	    			</div>
	    		</div>
	    		<div class="empty-20"></div>
	    		<div class="row clearfix">
	    			<div class="col-xs-1">
	    				<h1><i class="fa fa-superpowers" aria-hidden="true"></i></h1>
	    			</div>
	    			<div class="col-xs-offset-2 col-xs-9 info-learn-text">
	    				<span>Counselling from experts who will help you make the right education and career choice</span>
	    			</div>
	    		</div>
	    		<div class="empty-20"></div>
	    		<div class="row clearfix">
	    			<div class="col-xs-1">
	    				<h1><i class="fa fa-hourglass-start" aria-hidden="true"></i></h1>
	    			</div>
	    			<div class="col-xs-offset-2 col-xs-9 info-learn-text">
	    				<span>Interviewing is hard! We get it. Practice your interviews with your peers, colleague and professionals here</span>
	    			</div>
	    		</div>
	    		<div class="empty-20"></div>
	    		<div class="row clearfix">
	    			<div class="col-xs-1">
	    				<h1><i class="fa fa-line-chart" aria-hidden="true"></i></h1>
	    			</div>
	    			<div class="col-xs-offset-2 col-xs-9 info-learn-text">
	    				<span>Acquire the right skills here. We will cheer you as you advance career</span>
	    			</div>
	    		</div>-->