.coach-list> li{
    list-style-type: none;
    margin-bottom: 5px;
    margin-top: 10px;
    padding:5px 10px;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(217,217,217,1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(217,217,217,1);
    box-shadow: 0px 0px 8px 2px rgba(217,217,217,1);
}
.star-rating li{
    list-style: none;
    display: inline;
    box-shadow: 0;
}
.star-rating li i, h2{
    color: #f15a2b;
}
ul{
padding-left: 0;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

.btn-circle-lg:focus {
  border: none;
}


.panel-default>.panel-heading {
    color: #f7f7f7;
    background-color: #000;
    border-color: #ddd;
}

.selected{
  border-left: 10px solid #f15a2b;
}