<!-- Learn Page -->

<section id="learn">
<div class="empty-100"></div>
	<div class="row margin-0 padding-0 text-center">
		<div class="col-lg-12">
			<img class="img-responsive" src="assets/img/coach/coach_banner.png" width="300" alt="learn">
			<div class="empty-50"></div>
			<h2><b>Coach when you want, from wherever you are</b></h2>
		</div>
	</div>
	<div class="empty-50"></div>
	<div class="container"><!-- Three Block for USP -->
		<div class="row text-center">
		  <div class="col-lg-4">
		  	<i class="fa fa-usd" aria-hidden="true"></i>
		  	<div class="empty-20"></div>
		  	<h4>Set your price</h4>
		  	<div class="empty-20"></div>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		  </div>
		  
		  <div class="col-lg-4">
		  	<i class="fa fa-clock-o" aria-hidden="true"></i>
		  	<div class="empty-20"></div>
		  	<h4>Anywhere, Anytime</h4>
		  	<div class="empty-20"></div>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		  </div>
		  
		  <div class="col-lg-4">
		  	<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
		  	<div class="empty-20"></div>
		  	<h4>Make a Difference</h4>
		  	<div class="empty-20"></div>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
		  </div>
		</div><!-- Three Block for USP -->
		
		<div class="row text-center">
			<div class="empty-50"></div>
			<button type="submit" routerLink="home" class="btn btn-orange">Get startded with learning from hundreds of topics</button>
		</div>
	</div>
</section>
