<section id="learnerCompleteProfile">
<div class="info-bg">
	<div class="center-block">
  	<div class="container">
  		<div class="row">
		    <div class="col-md-4 ">
		    	<div class="form-heading">
		            Complete your profile
		      </div>
		      <form class="form-inline bg-light-grey margin-0 ">
		        <div class="form-group login-form">
		          <div class="form-style">
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-user" aria-hidden="true"></i></div>
		              <input type="text" class="form-control" placeholder="Name">
		            </div>
		            <div class="input-group width-full form-padding">
		              <div class="input-group-addon addon-style"><i class="fa fa-envelope" aria-hidden="true"></i></div>
		              <input type="text" class="form-control" placeholder="Last Name">
		            </div>
		            <div class="input-group width-full form-padding"><!-- Select topic from list -->
									<label for="">Choose at least one topic </label>
									<select class="form-control">
										<option value="">Programming</option>
										<option value="">Marketing</option>
										<option value="">Sales</option>
										<option value="">Digital</option>
										<option value="">UI Design</option>
									</select>
								</div><!-- Select topic from list -->
								<div class="input-group width-full form-padding"><!-- Select Sub-Topic from list -->
									<label class="checkbox-inline">
										<input type="checkbox" id="inlineCheckbox1" value="option1"> Java
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="inlineCheckbox2" value="option2"> Python
									</label>
									<label class="checkbox-inline">
										<input type="checkbox" id="inlineCheckbox3" value="option3"> Ruby
									</label>
								</div><!-- Select Sub-topic from list -->
								
		              <button type="submit" class="btn btn-default border-radius-0">Back</button>
		              <button type="submit" class="btn btn-orange float-right" routerLink="/learn/learn-payment">Next</button>
		          </div>
		        </div>
		      </form>
		    </div>
	    	<div class="col-md-offset-2 col-md-6  height-400p learn-slider-style text-grey">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators indicator-position">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center">
              <div class="item active">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-building" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Build the right foundation. Any topic, anytime</h3>
              </div>

              <div class="item">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-superpowers" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Counselling from experts who will help you make the right education and career choice</h3>
              </div>
            
              <div class="item">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-hourglass-start" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Interviewing is hard! We get it. Practice your interviews with your peers, colleague and professionals here</h3>
              </div>

              <div class="item">
                <div class="empty-50"></div>
                <h1 class="icon-size-lg50"><i class="fa fa-line-chart" aria-hidden="true"></i></h1>
                <div class="empty-50"></div>
                <h3>Acquire the right skills here. We will cheer you as you advance career</h3>
              </div>
            </div>
          </div>
	    	</div>
	    </div>
		</div>
	</div>
</div>
</section>
