<!-- COACH Page -->

<section id="learn">
<div class="empty-100"></div>
	<div class="row margin-0 padding-0 alinement-center">
		<div class="col-lg-12">
			<img class="img-responsive" src="assets/img/coach/coach_banner.png" alt="learn">
			<div class="empty-50"></div>
			<h2><b>Coach when you want, from wherever you are</b></h2>
		</div>
	</div>
	<div class="empty-50"></div>
	<div class="container">
		<div class="row alinement-center">
		  <div class="col-xs-6 col-sm-3">
		  	<img class="img-responsive" src="assets/img/coach/coach_headding_dollar.png" alt="learn">
		  	<div class="empty-20"></div>
		  	<h4>Set your price</h4>
		  	<div class="empty-20"></div>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  </div>
		  <div class="clearfix visible-xs-block"></div>
		  <div class="col-xs-6 col-sm-3">
		  	<img class="img-responsive" src="assets/img/coach/coach_headding_time.png" alt="learn">
		  	<div class="empty-20"></div>
		  	<h4>Anywhere, Anytime</h4>
		  	<div class="empty-20"></div>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  </div>
		  <div class="clearfix visible-xs-block"></div>
		  <div class="col-xs-6 col-sm-3">
		  	<img class="img-responsive" src="assets/img/coach/coach_headding_idea.png" alt="learn">
		  	<div class="empty-20"></div>
		  	<h4>Make a Difference</h4>
		  	<div class="empty-20"></div>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  </div>
		  <div class="clearfix visible-xs-block"></div>
		  <div class="col-xs-6 col-sm-3">
		  	<img class="img-responsive" src="assets/img/learn/learn_headding_ppl.png" alt="learn">
		  	<div class="empty-20"></div>
		  	<h4>Make a Difference</h4>
		  	<div class="empty-20"></div>
		  	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		  </div>
		</div>
		<div class="row alinement-center">
			<div class="empty-50"></div>
			<button type="submit" routerLink="home" class="btn btn-submit-form border-radius-0">Get startded with learning from hundreds of topics</button>
		</div>
	</div>
</section>
